<h1 class="text-center user-title">All Recipes</h1>
 <div class="container">
  <div class="row justify-content-center">

    <div class="col-sm-8">
        <%= render 'show_recipes', instructions: @instructions %>
      </div>

      <div class="col-sm-4 query-box">
        <div>
          <h4 class="order_by">Order Recipes by:</h4>
          <%= form_tag("/instructions", method: "get") do %>
            <%= select_tag "query", options_for_select(["Today", "Old Recipes", "Alphabetical", "Alphabetical From Z", "Most Ingredients", "Least Ingredients"]), include_blank: true %>
            <%= submit_tag "Filter" %>
          <% end %>
        </div>

      </div>
  
  </div>    
</div>

        
     