  <div class="container">
    <div class="row text-center">
        <h3><%= @user.nickname %> Recipes</h3>
    </div>
    <div class="row">
        <div class="col-sm-9">
          <%= render 'instructions/show_recipes', instructions: @user.instructions %>
        </div>
        <div class="col-sm-3 side_bar">
            <%= link_to 'To All Chefs', users_path %><br>
        </div>
    </div>
</div>
