<% ingredients.each do |ingredient| %>
        <div class="ingredient-box">
          <h5><%= link_to ingredient.name, ingredient_path(ingredient) %></h5>
          <p>Used in <%= ingredient.instructions.count %> Recipes</p>
              <%= render 'admin_links', ingredient: ingredient %>
        </div>
      <% end %>
