<h1 class="text-center">Editing Ingredient</h1>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<%= render 'form', ingredient: @ingredient %>
		</div>
	</div>
</div>

