<h1 class="text-center">New Ingredient</h1>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-6 text-center">
			<%= render 'form', ingredient: @ingredient %>
		</div>
	</div>
</div>

