html, body {
	background-image: url('darkwood.jpg') ;
    background-size: cover;
    background-color: #bdaaaa;
}
.recipe-title {
	color: white;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Dancing Script', cursive;
	/*font-family: 'Great Vibes', cursive;*/
	/*font-family: 'Homemade Apple', cursive;*/
	/*font-family: 'Neucha', cursive;*/
	/*font-family: 'Cabin Sketch', cursive;*/
	margin-top: -5%;
	/*margin-left: -100px;*/

    font-size: 7em;
    font-weight: 900;
   
    text-shadow: 3px 3px 10px black;
    /*z-index: 10000;*/
/* Safari */
-webkit-transform: rotate(-15deg);

/* Firefox */
-moz-transform: rotate(-15deg);

/* IE */
-ms-transform: rotate(-15deg);

/* Opera */
-o-transform: rotate(-15deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.personal-title {
	padding: 10px;
	color: white;
	font-family: 'Dancing Script', cursive;
	margin-left: 30%;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.user-title {
	padding: 10px;
	font-family: 'Dancing Script', cursive;
	color: white;
	font-size: 4em;
}
.chefs {
	font-family: 'Noto Serif', serif;
	color: white;
}
.order_by {
	font-family: 'Noto Serif', serif;
	color: white;
}
.move-down {
	margin-top: 5%;
}
.login_box {
	margin: 25px;
	background: white;
	height: 400px;
	box-shadow: 2px 2px 10px black;
	background-image: url('fries.jpg');
    background-size: cover;
    /*border: solid 1px black;*/
}
.login-page {
	padding-top: 2%;
	color: white;
	background-color: rgba(0,0,0,0.5);
}
.login-page a {
	color: white;
	text-decoration: underline;
}
.login-title{
	color: white;
	font-weight: 900;
	font-size: 1.5em;
	font-family: 'Noto Serif', serif;
}
.signin_box {
	margin: 25px;
	background: white;
	height: 400px;
	box-shadow: 2px 2px 10px black; /*#888888*/
	background-image: url('pancakes.jpg');
    background-size: cover;
    /*border: solid 1px black;*/
}
.singin-title {
	color: black;
	font-weight: 900;
	font-size: 1.5em;
	font-family: 'Noto Serif', serif;
	/*font-family: 'Cabin Sketch', cursive;*/
}
.signin-page {
	padding-top: 2%;
	color: black;
	background-color: rgba(255,255,255,0.5);
}
.signin-page a {
	color: black;
	text-decoration: underline;
}
.sign-out {
	font-family: 'Noto Serif', serif;
}
.header {
	font-family: 'Dancing Script', cursive;
	padding: 5px;
	background-color: #302A29  ;
	margin: 0px;
	color: white;
}
.header h5 {
	margin: 0px;
}
.header p {
	margin: 0px;
}
.header a {
	color: white;
}
.legend {
	font-family: 'Noto Serif', serif;
	background-color: #E3A541;
}
.legend a {
	color: white;
}
.label {
	display: inline;
}
.all_list_box {
	background-color: white;
	border: solid 2px black;
}
.all_list_box a {
	color: black;
}
.submit-row {
	margin-top: 20px;
}
.recipe {
	background-color: white;
	border: solid 2px black;
	padding: 10px;
	box-shadow: 1px 2px 2px #888888;
}
.recipe a {
	color: black;
}
.person {
	background-color: white;
	border: solid 2px black;
	margin: 15px;
	padding: 10px;
	box-shadow: 1px 2px 2px #888888;
	font-family: 'Noto Serif', serif;
}
.person h4 {
	font-family: 'Noto Serif', serif;
	font-weight: 900;
	font-size: 3em;
}
.ingredient-box {
	background-color: lightgrey;
	border: solid 2px black;
}
.recipe-box {
	background-color: lightblue;
	border: solid 2px white;
}
div.fields_with_errors {
	border: solid 2px red;
}
.side_bar {
	font-family: 'Noto Serif', serif;
	background-color: white;
	border: solid 2px black;
	color: black;
	padding: 10px;
	box-shadow: 1px 2px 2px #888888;
}
.side_bar a {
	border: solid 2px black;
	background-color: #E3A541 ;
	color: white;
	padding: 6px;
	margin: 10px;
}
.form {
	background-color: white;
	padding: 10px;
}