.header {
	background-color: yellow;
}
.legend {
	background-color: orange;
}
.label {
	display: inline;
}
.all_list_box {
	background-color: lightgrey;
	border: solid 2px black;
}
.submit-row {
	margin-top: 20px;
}
.recipe {
	background-color: lightgrey;
	border: solid 2px black;
}
.ingredient-box {
	background-color: lightgrey;
	border: solid 2px black;
}
.recipe-box {
	background-color: lightblue;
	border: solid 2px white;
}
div.fields_with_errors {
	border: solid 2px red;
}