html, body {
	background-image: url('backgroundknife.jpg') ;
    background-size: cover;
    background-color: #bdaaaa;
}
.recipe-title {
	color: rgba(0,0,0,1);
	/*font-family: 'Noto Serif', serif;*/
	/*font-family: 'Dancing Script', cursive;*/
	/*font-family: 'Great Vibes', cursive;*/
	/*font-family: 'Homemade Apple', cursive;*/
	/*font-family: 'Neucha', cursive;*/
	font-family: 'Cabin Sketch', cursive;
    font-size: 8em;
    font-weight: 900;
    padding: 50px;
    text-shadow: 3px 3px 10px white;

}
.login_box {
	margin: 25px;
	background: white;
	height: 400px;
	box-shadow: 2px 2px 15px 5px #888888;
	background-image: url('fries.jpg');
    background-size: cover;
}
.login-page {
	padding-top: 2%;
	color: white;
	background-color: rgba(0,0,0,0.5);
}
.login-page a {
	color: white;
	text-decoration: underline;
}
.login-title{
	color: white;
	font-weight: 900;
	font-size: 1.5em;
	font-family: 'Noto Serif', serif;
}
.signin_box {
	margin: 25px;
	background: white;
	height: 400px;
	box-shadow: 2px 2px 15px 5px #888888; /*#888888*/
	background-image: url('pancakes.jpg');
    background-size: cover;
}
.singin-title {
	color: black;
	font-weight: 900;
	font-size: 1.5em;
	font-family: 'Noto Serif', serif;
	/*font-family: 'Cabin Sketch', cursive;*/
}
.signin-page {
	padding-top: 2%;
	color: black;
	background-color: rgba(255,255,255,0.5);
}
.signin-page a {
	color: black;
	text-decoration: underline;
}
.header {
	background-color: yellow;
}
.legend {
	background-color: orange;
}
.label {
	display: inline;
}
.all_list_box {
	background-color: lightgrey;
	border: solid 2px black;
}
.submit-row {
	margin-top: 20px;
}
.recipe {
	background-color: lightgrey;
	border: solid 2px black;
}
.ingredient-box {
	background-color: lightgrey;
	border: solid 2px black;
}
.recipe-box {
	background-color: lightblue;
	border: solid 2px white;
}
div.fields_with_errors {
	border: solid 2px red;
}